body {
  margin: 0;
  padding:0!important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #090c1f url(../src/assets/N_N_unsplash.jpg) no-repeat center center fixed;
   /* background: linear-gradient(180deg, black, transparent 20%), linear-gradient(360deg,
   #000, transparent 20%), #090c1f url(../src/assets/clock.png) no-repeat center center fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  max-height: 100%;
  margin: 0;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App > .testText{
  color:red;

}

#searchForm {
  background:salmon;

}

.App p {
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  margin-bottom: 2px;
}
 .wathclistbtns{
   padding: 4px;
 }

 .addToList{
   padding-top:10px;
   margin-bottom: 20px;
   margin-top: 20px;
   background: #0e09090f;
   justify-content: center;
 }

.addToList button{
  margin-top:10px;
}

.addToList input{
  background-color:transparent;  
    color:#fff;
    border: 0;
    border-bottom: 2px solid seashell;
    border-radius: 0;
    text-align: center;
    
}

.addToList input:focus{
  background-color: transparent;
  box-shadow:none;
  outline: 0 none;
}
.addToList input::-webkit-input-placeholder{
  color:gray;
  font-style: italic;
  font-size: 12px;
}

#twittMessageItems{
  background: #0e09090f;
  padding: 10px;
  list-style: none;
  
}
 .watchListItems{
  background: #0e09090f;
  padding: 10px;
  list-style: none;
  
}

.watchListItems li {
  font-family: 'Ubuntu', sans-serif;
  padding:5px;
}

#headerWithLogo{
  /* background: #00aaff; */
  padding: 10px;
  padding-left: 30px;
  text-align: left;
  font-size: 30px;;
  font-weight: 900;
  color:#000;
  position: relative;
  
}

#headerWithLogo .brandName {
  margin-top:20px;
  position: absolute;
  margin-left: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size:20px;
  font-style: italic;
}
 
#avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}