body {
  margin: 0;
  padding:30px!important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #090c1f url(../src/assets/N_N_unsplash.jpg) no-repeat center center fixed;
   /* background: linear-gradient(180deg, black, transparent 20%), linear-gradient(360deg,
   #000, transparent 20%), #090c1f url(../src/assets/clock.png) no-repeat center center fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  max-height: 100%;
  margin: 0;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App p {
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 2px;
}
 .wathclistbtns{
   padding: 4px;
 }

 .addToList{
   padding-top:10px;
   margin-bottom: 20px;
   margin-top: 20px;
   background: #0e09090f;
   justify-content: center;
 }

.addToList button{
  margin-top:10px;
}

.addToList input{
  background-color:transparent;  
  color:#fff;
  border: 0;
  border-bottom: 2px solid seashell;
  border-radius: 0;
  text-align: center;
    
}

.addToList input:focus{
  background-color: transparent;
  box-shadow:none;
  outline: 0 none;
}
.addToList input::-webkit-input-placeholder{
  color:gray;
  font-style: italic;
  font-size: 12px;
}

#twittMessageItems{
  background: #0e09090f;
  padding: 10px;
  list-style: none;
  overflow: hidden;

}
 .watchListItems{
  background: #0e09090f;
  padding: 5px;
  list-style: none;
  
}

.watchListItems li {
  font-family: 'Ubuntu', sans-serif;
}

#twittBtn{
  /* background:lightgray; */
  font-size: 13px;
  font-style: italic;
  color:#000;
  border-style: solid;
  border-color: rgba(142, 188, 248, 0.767);
  border-radius: 50%;
}

#dltBtn{
  font-size: 14px;
  color:#000;
  border-style: solid;
  border-color: rgba(250, 152, 6, 0.726);
  border-radius: 50%;
}

#stockAndTwit{
  background:transparent;
}

#twittBtn:hover{
  cursor: pointer;
  background: rgba(174, 227, 245, 0.63);
}

#dltBtn:hover{
  cursor: pointer;
  background: rgba(245, 172, 113, 0.719);
}

#headerWithLogo{
  padding-top: 10px;
  padding-left: 0px;
  text-align: left;
  font-weight: 900;
  color:#000;
  position: relative;
  
}

#headerWithLogo .brandName {
  margin-top:11px;
  position: absolute;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size:18px;
  font-style: italic;
}

.card-text >.userName,  .card-text > .twitDate {
  background:lightgray; 
  color:#000;
  border-radius: 50%;
  font-size: 10px;
  font-style: italic;
  
}

.card {
  max-width: 100%!important;
}
.card-text {
  word-wrap: break-word!important;
}

#imgInPost{
  width:100%;
  overflow: hidden;
  align-self: center;
}

#userImg{
  border-radius:50%;
  margin-right:10px;
}

#twittCount {
  background:rgba(248, 248, 248, 0.404); 
  color:#000;
  padding:2px;
  font-size: 10px;
  font-style: italic;
  margin-top:5px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
}

.twittLista { 
  display:none; 
}

#addStockBtn {
  background:#b6b8ad;
  color: #000;
  border:none;
  font-size:14px;
  border: solid 1px lightblue;
}

#twittMessageItems > #loadMore { 
  background:#b6b8ad;
  border: solid 1px lightblue;
  font-size:14px;
  text-align: center;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  float:left;
} 
#loadMore:hover {
  background-color: #b9bab0;
  color: #fff;
  border:none;
}

#loadMore:focus {
  background-color: #b9bab0;
  color:#000;
  border:none;
  box-shadow: none;
}
.totop {
  position: fixed;
  bottom: 15px;
  right: 20px;
  background-color: #b9bab0;
  padding:5px;
  border-radius: 5px;
  font-size:14px;
  border: solid 1px lightblue;
}
.totop a {
  display: none;
  color:#000!important;
  text-decoration: none!important;
  font-style:none;
}


@media only screen and (max-width: 767px){
 
  body {
    padding:0px!important;
  }

  #stockAndTwit{
    display: block;
  }

  #headerWithLogo{
    font-size: 20px;
    font-weight: 100;
    position: relative;
    padding-left: 14%;
  }

  .twitBody{
    font-size: 12px;
  }
  .App .subTitle, .App .subTitle span {
    font-size: 13px;
  }
  #tickerSymbol{
    font-size: 14px;
    padding-top:10px!important;
  }

  #twittCount{
    display: none;
  }
  
}
